@import 'tailwindcss';

@theme inline {
    --color-main-text: var(--main-text);
    --color-anti-text: var(--anti-text);
    --color-second-text: var(--second-text);
    --color-third-text: var(--third-text);
    --color-main-cart: var(--main-cart);
    --color-price-cart: var(--price-cart);
    --color-star-cart: var(--star-cart);
}

:root {
    --main-text: #000000;
    --anti-text: #fff;
    --second-text: #221F1F;
    --third-text: #7A7A7A;
    --main-cart: #2B2B2D;
    --price-cart: #F53E32;
    --star-cart: #F5885F;
}

.dark {
    --main-text: ;
    --anti-text: ;
    --second-text: ;
    --third-text: ;
    --main-cart: ;
    --price-cart: ;
    --start-cart: ;
}